/* Styles for the external CSS file */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}
h1 {
    color:white;
    text-align: center;
    margin-top: 20px;
}
p {
    color:yellow;
    line-height: 1.6;
    padding: 0 20px;
}