/* Selector Universal */
* {
    font-family: 'Times New Roman', Times, serif;
}
/* Selector Tag */
p {
    color: plum;
}
/* Selector Class */
.pink {
    background-color: lightpink;
    padding: 10px;
}
/* Selector ID */
#merah {
    background-color: red;
    color: white;
    padding: 10px;
}