.p1 {
    font-size: 30px;
    font-weight: lighter;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.p2 {
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.p3 {
    font-size: 3em;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}
.p4 {
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.p5 {
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}